{% extends "layout.html" %}

{% block main %}
  <form method="POST">
    {{ login_form.hidden_tag() }}
    <div class="field">
      {{ login_form.username.label(class="label") }}
      <div class="control">
        {{ login_form.username(class="input", placeholder="Enter Username") }}
      </div>
    </div>

    <div class="field">
      {{ login_form.password.label(class="label") }}
      <div class="control">
        {{ login_form.password(class="input", placeholder="Enter Password") }}
      </div>
    </div>

    <div class="control">{{ login_form.login_btn(class="button is-link") }}</div>
  </form>
{% endblock %}
